<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
<!--	<script src="https://cdn.bootcdn.net/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>-->
		<style>
			.download_btn {
				display:inline-block; /* 设置为块元素 */
				width: 180px;
				height: 40px;
				line-height: 40px; /* 设置垂直居中 */
				border-radius:20px;
				margin:0 auto; 
				background: #29BB9C;	
				color:#ffffff;
			}
			a:hover {background:#628FA4;}
		</style>
	</head>
	
	<body>
		<h2 style="text-align:center;">应用名称</h2>
		<p style="text-align: center">
			<a class="download_btn" style="font-size:18px;text-decoration:none;" href="itms-services://?action=download-manifest&url=https://gitee.com/huluo666/IPAInstall/raw/master/manifest.plist">安装</a>
		</p>
		<p class="subtitle" style="font-size:15px;text-align:center;">通过Safari打开链接，点击按钮下载安装</p> 
		<div id="qrcode" style="width:200px; height:200px;margin:0 auto;"></div>
		<script type="text/javascript">
			var qrcode = new QRCode(document.getElementById("qrcode"), {
				width : 200,
				height : 200,
				background : "#ffffff", //二维码的后景色  
				foreground : "#000000", //二维码的前景色 
				iconSrc: 'logo.png' //二维码中间的图片
			});
			function makeCode () {        
				qrcode.makeCode("https://huluo666.gitee.io/ipainstall/");
			}
			makeCode();
		</script>
	</body>  
</html>
		